SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability